.home-container {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 2em;
  background-color: #fff;


  /* --- resolver fondo blanco mixblend --- */

}

/* VIDEOS GLITCH */
.glitch {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  overflow: hidden;
  overflow-x: hidden;
}

/* WORKS CONTAINER */

.home-container .works-container {
  /* height: 100%; */
  height: 700px;

  display: flex;
  align-items: center;
  padding: 4.5em;
  padding-left: 0;
  padding-top: 5.3em;
  position: relative;
  background-color: #fff;
}

.home-container .works-container a {
  text-decoration: none;
  color: #000;
}

  .home-container .works-container .title-and-sub {
    z-index: 1000;
    margin-right: 3em;
    position: relative;
  }
  
  .home-container .works-container .title-and-sub img {
    width: 100px;
    position: absolute;
    top: -60px;
    left: -30px;
    z-index: -1;
  }

  .home-container .works-container .work-box .title-and-sub h2 {
    font-family: "rza-black";
    font-size: 1.5em;
    letter-spacing: 2px;
    position: absolute;
    top: -40px;
  }

.home-container .works-container .work-box .title-and-sub h3 {
  font-family: "plaak24-light";
  font-size: 1.2em;
  position: relative;
}

/* WORK BOX */

.home-container .works-container .work-box {
  height: 105%;
  /* background-color: #625e7a; */
}


/* PETIT BALLON #1 */

.home-container .works-container .work-box#petit-ballon {
  width: 600px;
  position: relative;
}

.home-container .works-container .work-box#petit-ballon .big-content {
  height: 80%;
  overflow: hidden;
  margin-bottom: 1em;
}

.home-container .works-container .work-box#petit-ballon .big-content img {
  width: 130%;
  height: auto;
}

.home-container .works-container .work-box#petit-ballon .message-box {
  width: 150px;
  position: absolute;
  top: 40px;
  right: -160px;
}

.home-container .works-container .work-box#petit-ballon .message-box .smile-img {
  width: 25px;
  margin-top: 0.5em;
}

/* PETIT BALLON 2 */

.home-container .works-container .work-box#petit-ballon-2 {
  width: 600px;
  position: relative;
}

.home-container .works-container .work-box#petit-ballon-2 .big-content {
  position: absolute;
  width: 600px;
  bottom: 50px;
  left: -120px;
}

.home-container .works-container .work-box#petit-ballon-2 .big-content img {
  width: 100%;
  height: auto;
}

/* PETIT BALLON 2 EXTRA */

.home-container .works-container .work-box#petit-ballon-2 .arrow_wine_box {
  position: absolute;
  left: 220px;
  top: 50px;
}

.home-container .works-container .work-box#petit-ballon-2 .arrow_wine_box img {
  width: 40px;
  position: absolute;
  right: 180px;
  top: 15px;
  transform: scaleX(-1);
}

/* AA & MARQUEE */

.home-container .works-container .work-box#aa {
  width: 410px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.home-container .works-container .work-box#aa .extra-content {
  width: 300px;
  position: absolute;
  left: -285px;
  top: -200px;
  z-index: 899;
}

.home-container .works-container .work-box#aa .extra-content .wine_bottle {
  height: 650px;
  transform: rotate(-20deg);
}

.home-container .works-container .work-box#aa .aa_square {
  width: 300px;
  position: absolute;
  left: -20px;
  top: 70px;
  z-index: 1000;
}

.home-container .works-container .work-box#aa .blue_square {
  width: 300px;
  height: 300px;
  position: absolute;
  right: 40px;
  top: 150px;
  z-index: 1;
  background-color: #664aff;
}

.home-container .works-container .work-box#aa .marquee {
  background-color: #e2ff40;
  width: 140%;
  height: 70px;
  position: absolute;
  left: -80px;
  bottom: 100px;
  transform: rotate(4deg);
  font-size: 2em;
  font-family: "rza-black";
  letter-spacing: 1px;
  z-index: 1;
}

/* PLAYTIME PARIS */

.home-container .works-container .work-box#playtime-paris {
  width: 600px;
  position: relative;
  margin-left: 3em;
  z-index: 2;
  border: 0;
}

.home-container .works-container .work-box#playtime-paris .big-content {
  height: 80%;
  margin-bottom: 3em;
}

.home-container .works-container .work-box#playtime-paris .big-content img {
  width: 100%;
}

.home-container .works-container .work-box#playtime-paris .big-content .whale-img {
  position: absolute;
  width: 350px;
  left: -220px;
  top: -60px;
  animation: moveUpDown 6s ease-in-out infinite alternate;

}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

.home-container .works-container .work-box#playtime-paris .big-content .stars-img {
  position: absolute;
  width: 70px;
  left: -235px;
  top: -10px;
}

/* ZONZA */

.home-container .works-container .work-box#zonza {
  width: 520px;
  position: relative;
  z-index: 2;
}

.home-container .works-container .work-box#zonza h2 {
  margin-left: 0.1em;
  font-size: 9em;
  position: absolute;
  top: -25px;
}

.home-container .works-container .work-box#zonza .zonza-stars {
  position: absolute; 
  width: 90px;
  left: 260px;
  top: -30px;
  transform: rotate(200deg);
}

.home-container .works-container .work-box#zonza .big-content {
  height: 80%;
  margin-bottom: 1.5em;
  position: absolute;
  bottom: 0;
}

.home-container .works-container .work-box#zonza .big-content img {
  width: 100%;
  height: auto;
}


/* OMY EXTRA (TIGER)*/

.home-container .works-container .work-box#omy-extra {
  width: 240px;
  position: relative;
  z-index: 2;
}

.home-container .works-container .work-box#omy-extra .message-box {
  position: absolute;
  top: -30px;
  left: -70px;
}

.home-container .works-container .work-box#omy-extra .message-box .arrow-img {
  width: 40px;
  position: absolute;
  right: -60px;
  bottom: -10px;
  transform: rotate(-8deg);
}

.home-container .works-container .work-box#omy-extra .big-content {
  position: absolute;
  top: 0;
  left: -20px;
}

.home-container .works-container .work-box#omy-extra .big-content img {
  width: 320px;
  height: auto;
}

.home-container .works-container .work-box#omy-extra .tape-img {
  width: 380px;
  position: absolute;
  bottom: 60px;
  left: -330px;
  transform: rotate(-10deg);
  z-index: 1000;
}

/* OMY MAIN */

.home-container .works-container .work-box#omy-main {
  width: 520px;
  position: relative;
  margin-left: 0.2em;
}

.home-container .works-container .work-box#omy-main h2 {
  font-size: 15em;
  position: absolute;
  top: -30px;
}

.home-container .works-container .work-box#omy-main .big-content {
  position: absolute;
  top: 170px;
}

.home-container .works-container .work-box#omy-main .big-content img {
  width: 100%;
  height: auto;
}

.home-container .works-container .work-box#omy-main .big-content .omy-stars {
  width: 90px;
  position: absolute;
  bottom: -60px;
  right: -20px;
  transform: rotate(-190deg);
}

/* KIEHL'S */

.home-container .works-container .work-box#kiehls {
  position: relative;
  text-align: center;
  z-index: 2;
}

.home-container .works-container .work-box#kiehls .align-box {
  text-align: center;
  width: 390px;
  position: absolute;
  left: -190px;
  top: -30px;
}

.home-container .works-container .work-box#kiehls h2 {
  font-size: 3em;
  margin-bottom: 0.1em;
}

.home-container .works-container .work-box#kiehls .big-content {
  width: 100%;
}

.home-container .works-container .work-box#kiehls .big-content img {
  width: 100%;
}

/* PAIKEA */

.home-container .works-container .work-box#paikea {
  width: 600px;
  position: relative;
  text-align: center;
}

.home-container .works-container .work-box#paikea .align-box {
  text-align: center;
  margin-top: 2em;
}

.home-container .works-container .work-box#paikea a {
  font-size: 7em;
  font-family: 'plaak43-bold';
  line-height: 0.8;
}

.home-container .works-container .work-box#paikea .big-content img {
  width: 100%;
}

/* CIDER */

.home-container .works-container .work-box#cider {
  width: 80px;
  position: relative;
  text-align: center;
}

.home-container .works-container .work-box#cider h2 {
  font-size: 4em;
  position: absolute;
  left: 15px;
  top: -15px;
}

.home-container .works-container .work-box#cider .big-content {
  width: 300px;
  position: absolute;
  top: 50px;
  left: -100px;
}

.home-container .works-container .work-box#cider .big-content img {
  width: 100%;
}

/* ------ ABOUT CONTAINER ------ */

.home-container .about-container {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #000;
  position: relative;
  mix-blend-mode: difference;
}

.home-container .about-container .big-about {
  height: 700px;
  display: flex;
  align-items: center;
  margin-left: 6em;
  z-index: 1;
}

.home-container .about-container .big-about h3 {
  font-size: 50em;
  font-family: 'plaak43-bold';
  color: #fff;
  margin-top: -60px;
}

.home-container .about-container .big-about.behind {
  position: absolute;
  left: 0;
  z-index: 0;
  display: flex;
}

.home-container .about-container .big-about.behind img {
  width: auto;
  height: 405px;
  margin-left: 50px;
}

.home-container .about-container .sticker-container {
  position: absolute;
  height: 700px;
  width: 100%;
  z-index: 2;
}

.home-container .about-container .sticker-container-relative {
  position: relative;
  width: 100%;
  height: 100%;
}

.home-container .about-container .sticker-container-relative img#sticker {
  position: absolute;
  width: 250px;
  bottom: 230px;
  left: 280px;
}

.home-container .about-container .sticker-container-relative .yellow_tape {
  position: absolute;
  width: 250px;
}

.home-container .about-container .sticker-container-relative .yellow_tape#first {
  bottom: 130px;
  left: 630px;
  transform: rotate(12deg);
}

/* ------ CONTACT CONTAINER ------ */

.home-container .about-container .contact-container .yellow_tape {
  bottom: 450px;
  right: 200px;
  transform: rotate(-12deg);
  position: absolute;
  width: 250px;
}

.home-container .about-container .contact-container {
  background-color: #EFFF55;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
}

.home-container .about-container .contact-container .big-contact {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4.5em 0;
}

.home-container .about-container .contact-container a.contact-button {
  padding: 0.5em;
  border: 1px solid #000;
  border-radius: 50%;
  text-decoration: none;
  font-size: 3em;
  font-family: 'plaak43-bold';
  color: #000;
}

.home-container .about-container .contact-container a.contact-button:hover {
  background-color: #000;
  color: #EFFF55;
}

.home-container .about-container .contact-container img#stars {
  width: 80px;
}

.home-container .about-container .contact-container img#big-iso {
  width: 210px;
}

.home-container .about-container .contact-container .contact-message {
  text-align: center;
  height: auto;
  white-space: wrap;
}

.home-container .about-container .contact-container .contact-message img {
  width: 50px;
  margin-bottom: 0.5em;
}

.home-container .about-container .contact-container .contact-message h4 {
  font-family: 'plaak24-light';
  font-size: 1.5em;
  line-height: 0.9;
  text-align: left;
}



/* ------ RESPONSIVE STYLE - WIDE SCREENS ------ */

@media screen and (min-width: 1440px) {

  /* ---- WORKS CONTAINER ---- */

  .home-container .works-container {
    /* height: 100%; */
    height: 800px;
  }

  .home-container .works-container .work-box {
    /* height: 125%; */
    /* height: 100%; */
    /* background-color: #e2ff40; */
  }

  /* ---- LOGO BOX ---- */

  .home-container .works-container .logo-box {
    top: 120px;
  }

  /* TITLE AND SUB */

  .home-container .works-container .title-and-sub {
    margin-right: 4em;
  }

  /* PETIT BALLON #1 */

  .home-container .works-container .work-box#petit-ballon {
  width: 700px;
  }

  /* PETIT BALLON 2 EXTRA */

.home-container .works-container .work-box#petit-ballon-2 .arrow_wine_box {
  left: 170px;
  top: 165px;
}

.home-container .works-container .work-box#petit-ballon-2 .arrow_wine_box img {
  right: 180px;
  top: 15px;
}

  /* ---- WINE BOTTLE ---- */

  .home-container .works-container .work-box#aa .extra-content {
    left: -340px;
    top: -330px;
  }
  
  .home-container .works-container .work-box#aa .extra-content .wine_bottle {
    height: 850px;
    transform: rotate(-20deg);
  }

  /* ---- AA ---- */

  .home-container .works-container .work-box#aa .aa_square {
    width: 330px;
    left: 0px;
    top: 130px;
  }
  
  .home-container .works-container .work-box#aa .blue_square {
    width: 330px;
    height: 300px;
    position: absolute;
    right: 10px;
    top: 210px;
    z-index: 1;
    background-color: #664aff;
  }

  /* ---- MARQUEE ---- */

  .home-container .works-container .work-box#aa .marquee {
    bottom: 120px;
  }

  /* ---- PLAYTIME PARIS ---- */

  .home-container .works-container .work-box#playtime-paris {
    width: 710px;
    margin-left: 4em;
  }
  .home-container .works-container .work-box#playtime-paris .big-content {
    height: 80%;
    margin-bottom: 3em;
  }

  /* ZONZA */

.home-container .works-container .work-box#zonza {
  width: 630px;
}
.home-container .works-container .work-box#zonza h2 {
  margin-left: 0.1em;
  top: -12px;
}

/* ---- TIGER ---- */

.home-container .works-container .work-box#omy-extra .big-content {
  position: absolute;
  top: -10px;
  left: -80px;
}
.home-container .works-container .work-box#omy-extra .big-content img {
  width: 420px;
}

/* OMY MAIN */

.home-container .works-container .work-box#omy-main {
  width: 520px;
  margin-left: 1.5em;
}

.home-container .works-container .work-box#omy-main h2 {
  top: 50px;
}

.home-container .works-container .work-box#omy-main .big-content {
  top: 250px;
}

/* KIEHL'S */

.home-container .works-container .work-box#kiehls .align-box {
  width: 450px;
}

/* PAIKEA */

.home-container .works-container .work-box#paikea {
  width: 700px;
}

/* CIDER */

.home-container .works-container .work-box#cider {
  width: 160px;
}

.home-container .works-container .work-box#cider h2 {
  left: 45px;
}

.home-container .works-container .work-box#cider .big-content {
  width: 380px;
  top: 50px;
  left: -90px;
}

 /* ---- CONTACT ---- */

  .home-container .about-container .contact-container {
    padding: 11em 0;
  }
  .home-container .about-container .contact-container .big-contact {
    height: 790px;
  }

  /* ---- ABOUT ---- */

  .home-container .about-container .big-about h3 {
    font-size: 55em;
  }
  .home-container .about-container .big-about.behind img {
    width: auto;
    height: 440px;
  }
}