.sticky-container {
    position: fixed;
    left: 2em;
    bottom: 0;
    justify-content: space-between;
    flex-direction: column;
    padding: 0.7em 0em;
    z-index: 900;
    mix-blend-mode: difference;
  }

  .sticky-container .menu ul {
    display: flex;
    align-items: center;
    list-style: none;
    font-family: "plaak43-bold";
    font-size: 1.3em;
    gap: 5px;
    color: #ffffff;
  }

  .sticky-container .menu ul li a {
    text-decoration: none;
    color: #ffffff;
  }

  .sticky-container .menu ul .iso-svg {
    width: 53px;
    height: 34px;
    background-color: rgb(255, 255, 255);
    mask: url(src/assets/images/sr-iso-01.svg) no-repeat center / contain;
    -webkit-mask: url(src/assets/images/sr-iso-01.svg) no-repeat center / contain;
  }