.sticky-container {
  position: fixed;
  left: 2em;
  bottom: 0;
  justify-content: space-between;
  flex-direction: column;
  padding: 0.5em 0em;
  z-index: 10000;
  mix-blend-mode: difference;
}

.sticky-container .menu ul {
  display: flex;
  align-items: center;
  list-style: none;
  font-family: "plaak43-bold";
  font-size: 1.3em;
  gap: 5px;
  color: #ffffff;
  cursor: auto !important;
}

.sticky-container .menu ul li {
  position: relative;
}

.sticky-container .menu ul li .under-line {
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: auto;
  height: 1.5px;
  width: 0%;
  background-color: rgb(255, 255, 255);
  transition: width 0.1s ease-in-out;
}

.sticky-container .menu ul li:hover .under-line {
  width: 97%;
}

.sticky-container .menu ul li a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer !important;
}

.sticky-container .menu ul .iso-svg {
  width: 53px;
  height: 34px;
  background-color: rgb(255, 255, 255);
  mask: url("assets/images/sr_iso.png") no-repeat center / contain;
  -webkit-mask: url("assets/images/sr_iso.png") no-repeat center / contain;
  cursor: pointer !important;
}

.sticky-container .menu ul :nth-child(4) {
  padding-bottom: 3px;
}
