.sticky-container-detail {
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  flex-direction: column;
  padding: 0.5em 2em;
  z-index: 900;
}

.sticky-container-detail .menu ul {
  display: flex;
  align-items: center;
  list-style: none;
  font-family: "plaak43-bold";
  font-size: 1.3em;
  gap: 5px;
  color: #fff;
  cursor: auto !important;
}

.sticky-container-detail .menu ul li {
  position: relative;
}

.sticky-container-detail .menu ul li .under-line {
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: auto;
  height: 1px;
  width: 0%;
  background-color: rgb(255, 255, 255);
  transition: width 0.1s ease-in-out;
}

.sticky-container-detail .menu ul li:hover .under-line {
  width: 97%;
}

.sticky-container-detail .menu ul li a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer !important;
}

.sticky-container-detail .menu ul img {
  width: 50px;
  cursor: pointer !important;
}

.sticky-container-detail .menu ul :nth-child(4) {
  padding-bottom: 3px;
}
