.sticky-note {
  background-color: #EFFF55;
  padding: 1em;
  white-space: wrap;
  position: absolute;
  transition: opacity 0.7s cubic-bezier(0.42, 0, 0.58, 1), bottom 0.7s cubic-bezier(0.42, 0, 0.58, 1);
  opacity: 0;
}

.sticky-note.first {
  width: 200px;
  bottom: 100px;
  left: 1175px;
}

.sticky-note.visible-1 {
  opacity: 1;
  bottom: 130px;
}

.sticky-note.second {
  width: 340px;
  bottom: 430px;
  left: 1600px;
}

.sticky-note.visible-2 {
  opacity: 1;
  bottom: 460px;
}

.sticky-note.third {
  width: 230px;
  bottom: 250px;
  left: 2000px;
}

.sticky-note.visible-3{
  opacity: 1;
  bottom: 280px;
}

.sticky-note p {
  margin: 0;
  font-family: 'plaak43-bold';
  font-size: 1.1em;
  line-height: 1;
}

/* ------ RESPONSIVE STYLE ------ */

@media screen and (min-width: 1440px) {
  .sticky-note.first {
    bottom: 130px;
    left: 1115px;
  }
  
  .sticky-note.visible-1 {
    bottom: 170px;
  }
}