* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none !important;
}

body {
  overflow-y: hidden;
}

h1, h2 {
  font-family: 'plaak43-bold';
  font-size: 5em;
  line-height: 0.8;
}

h1 {
  font-size: 4.4em;
}

h1 {
  margin-bottom: 0.3em;
}

p {
  font-family: "plaak24-light";
  font-size: 1em;
  line-height: 0.9;
}