.mobile-navbar {
  height: 50px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
  z-index: 1000;
}

.mobile-navbar h1 {
  font-family: "rza-bold";
  font-size: 1.2em;
  color: #fff;
  mix-blend-mode: difference !important;
}

.mobile-navbar p {
  font-size: 1.2em;
  color: #fff;
  mix-blend-mode: difference !important;
}

@media screen and (min-width: 768px) {
  .mobile-navbar {
    display: none;
  }
}
