.m-footer {
  width: 100%;
  border-top: 1px solid #000;
  padding-bottom: 0.5em;
}

.m-footer .footy {
  height: 80px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.8em 0.8em 0.3em 0.8em;
}

.m-footer .footy img {
  width: 80px;
}

.m-footer .footy .footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.m-footer .footy .footer-info a {
  text-decoration: none;
}

.m-footer .footy .footer-info h4 {
  font-family: "plaak43-bold";
  font-size: 1.5em;
  text-align: end;
}
