.mobile-navbar {
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
  z-index: 1000;
}

.mobile-navbar a.mobile-navbar-logo {
  font-family: "rza-bold";
  font-size: 1.2em;
  color: #fff;
  mix-blend-mode: difference;
  text-decoration: none;
}

.mobile-navbar p {
  font-size: 1.2em;
  color: #fff;
  mix-blend-mode: difference;
}

.open-menu {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
}

.open-menu ul {
  height: 60%;
  background-color: #efff22;
}

.open-menu ul li {
  border-top: 0.5px solid rgb(200, 47, 47);
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-bottom: 9px;
  background-color: #000;
  font-size: 18vh;
}

.open-menu ul li:active {
  background-color: #efff22;
  border-top: 0.5px solid #efff22;
}

.open-menu ul li:active a {
  color: #000;
}

.open-menu ul li:last-child {
  border-bottom: 0.5px solid #fff;
}

.open-menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: "plaak43-bold";
}

.open-menu .mobile-menu-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}

.open-menu .mobile-menu-footer img {
  width: 20vw;
  max-width: 90px;
}

@media screen and (min-width: 768px) {
  .mobile-navbar {
    display: none;
  }
}
